services:
  server:
    container_name: aesthya_app
    build:
      context: .
    ports:
      - 8080:80
    env_file: .env
    depends_on:
      db:
        condition: service_healthy
  db:
    image: postgres
    env_file: .env
    container_name: aesthya_db
    restart: always
    secrets:
      - db-password
    volumes:
      - db-data:/var/lib/postgresql
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD_FILE=/run/secrets/db-password
    ports:
      - 5433:5432
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5
volumes:
  db-data:
secrets:
  db-password:
    file: db/password.txt
